body {
  background-color: #ece4d8;
}

#head {
  background-color: #003056;
  color: white;
  margin-top: 3em;
  margin-bottom: 3em;
  text-align: center;
}

#head h1, #head h3 { color: white; }

#sidebar {
  margin-top: -3em;
}

#sidebar h4 {
  margin-top: 2em;
}

.signup-btn-container {
  text-align: center;
}

#wiewatwaar {
  background: white;
  padding: 2em 2em 1em 2em;
}

#wiewatwaar h4 {
  text-align: center;
  margin-top: 0;
}

#people h2 {
  text-align: center;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}

#people .block-grid li {
  max-height: 100px;
  overflow: hidden;
  margin-bottom: 1em;
}
